/*Cброс стилей*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
}
.list {
  list-style: none;
}
/* Переменные */
:root {
  --main-font-type: Roboto, sans-serif;
  --secondary-font-type: Raleway, sans-serif;
  --accent-color: #2196f3;
  --text-color: #757575;
  --title-color: #212121;
  --primary-white-color: #ffffff;
  --secondary-bcg-color: #f5f4fa;
  --footer-bcg-color: #2f303a;
  --logo-black-color: #000000;
  --gallery-btn-color: #f5f4fa;
  --main-margin: 30px;
}

/* Глобальные стили */
body {
  color: var(--text-color);
  background-color: var(--primary-white-color);
  font-family: var(--main-font-type);
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
}
.section {
  padding: 94px 0px;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
}
/* Хедер */
.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  align-items: center;
}

.logo {
  display: block;
  margin-right: 93px;
  color: var(--logo-black-color);
  font-family: var(--secondary-font-type);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-first-part {
  color: var(--accent-color);
}
/* Навигация сайта */

.site-nav {
  display: flex;
  align-items: center;
}
.site-nav .item + .item {
  margin-right: 50px;
}
.site-nav.list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* Контакты */
.contact-us {
  display: flex;
  align-items: center;
}

.contact-us .item + .item {
  margin-left: 50px;
}

.contact-us .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-us .link:hover,
.contact-us .link:focus {
  color: var(--accent-color);
}
/* Заголовки */
.section .title {
  color: var(--title-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
}
/* Герой*/
.hero {
  background: #2f303a;
  padding: 200px 0;
  text-align: center;
}
.hero .title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero .button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: var(--main-font-type);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 10px 32px;
}
.hero .button:hover,
.hero .button:focus {
  background-color: #188ce8;
}

/* Заголовки */
.section .title {
  color: var(--title-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
/* Преимущества */
.section.advantages {
  padding-bottom: 0px;
}
.list-advantages {
  display: flex;
}
.list-advantages .item {
  display: block;
  flex-basis: calc(100% / 4);
}
.list-advantages .item + .item {
  margin-left: 30px;
}
.section .list-advantages .subtitle {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.list-advantages p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чем занимаемся */
.list.works {
  display: flex;
  flex-basis: calc(100% / 3);
  margin-top: 50px;
}
.list.works .item + .item {
  margin-left: 30px;
}
/* Команда */
.list.team {
  display: flex;
  flex-basis: calc(100% / 4);
  margin-top: 50px;
}
.list.team .item + .item {
  margin-left: 30px;
}
.list.team .item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section.our-team {
  background-color: var(--secondary-bcg-color);
}
.team-item {
  padding: 30px 0px;
}
.list.team .subtitle {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}
.list.team p {
  line-height: 1.2;
  text-align: center;
}
/* Footer */
.contacts {
  padding: 60px 0px;
}
.container.footer {
  margin-bottom: 0;
  /* padding-top: 60px;
  padding-bottom: 60px; */
}
.contacts {
  background-color: var(--footer-bcg-color);
}
footer .logo {
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
footer .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
footer .link.adress {
  color: var(--primary-white-color);
}
footer .link:hover,
footer .link:focus {
  color: var(--accent-color);
}

/* Страница Портфолио */
.galery-examples {
  display: none;
}
/* Кнопки */
.portfolio {
  padding: 94px 0;
}

.gallery-button {
  color: var(--title-color);
  background-color: var(--gallery-btn-color);
  font-family: var(--main-font-type);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
}

.list.gallery-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.gallery-btn .item + .item {
  margin-left: 8px;
}
.gallery-button:hover,
.gallery-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
/* Галерея */

.gallery.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--main-margin));
  margin-top: calc(-1 * var(--main-margin));
}
.gallery.list > .item {
  flex-basis: calc(100% / 3 - var(--main-margin));
  margin-left: var(--main-margin);
  margin-top: var(--main-margin);
  background: #ffffff;
}
.card-content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.gallery h2 {
  color: var(--title-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.gallery p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
